.newPostContainer {
  composes: basePostContainer from 'shared/styles.css';
  background: #1b98b5;
  color: #fff;
  text-align: center;
}

.newPostContainer:hover {
  background: #0f5666;
  color: #fff;
}

.header {
  text-align: center;
  font-size: 40px;
  font-weight: 100;
}
